.menu-fixed{
  /*padding-bottom:20px;*/
}
.search_body{

/*  padding-top:400px !important;*/
     background:grey; 
     height:250px  !important;
}

.search_input{
  width:100% !important;
}

.filter_button{
  margin-top:5px !important;
}

.pull-right{
  float: right;
}

.clear-all{
 border-radius:0px !important;
 box-shadow: none !important;
 color: red !important;
}